*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden !important; /*nav*/
}

.first-slide{
    height: 100vh;
    width: 100%;
    position: relative;
}

.top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    width: 100%;
    position: absolute;
    /* z-index: 1000; */
}

.logo{
    margin-left: 10%;
}

.logo i{
    color: white;
    font-size: 1.5em;
}

.logo i:hover{
    color: #cccccc;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

.nav-links li a:hover{
    color: #cccccc;
}

.nav-icons{
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-right: 5%;
}

.nav-icons i{
    color: white;
    font-size: 0.75em;
}

.nav-icons i:hover{
    color: #cccccc;
}

.lang-menu select{
    background-color: transparent;
    color: white;
    border: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .logo{
        margin-left: 3%;
    }
}

/* hamburger */

.hamburger-icon{
    display: none;
    cursor: pointer;
}

.hamburger-icon div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0;
        height: 80vh;
        top: 15vh;
        background-color: #0A0A0A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%; /*change here */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .hamburger-icon{
        display: block;
    }
    .nav-icons i{
        display: flex;
        align-items: center;
        margin-left: 8px;
    }
    .nav-icons div{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .nav-icons{
        width: 30%;
    }
}

.nav-active{
    transform: translateX(0);
}

/*animation*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle-links .bar1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-links .bar2{
    opacity: 0;
}
.toggle-links .bar3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* top carousel */
.slider{
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

.img-slide{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    animation: slide 1s ease-in;
}

@keyframes slide{
    0%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

.img-slide.img-active{
    display: flex;
}

.slider-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-caption, .right-caption{
    animation: textSlide 2s ease;
}

@keyframes textSlide{
    0%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
    }
}

.left-caption{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    text-align: center;
    position: absolute;
    top: 40%;
}

.left-caption p{
    font-size: 0.75em;
}

.left-caption h2{
    font-size: 1.8em;
    letter-spacing: 1px;
}

.social-media{
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 15%;
}

.social-media a{
    color: white;
    cursor: pointer;
    padding-left: 5px;
    font-size: 0.75em;
}

.social-media a:hover{
    color: #cccccc;
}

.right-caption{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 45%;
    right: 10%;
}

.right-caption p{
    margin-bottom: 20px;
    font-size: 0.75em;
}

.shop-link{
    position: absolute;
    z-index: 2;
    bottom: 10%;
    right: 10%;
}

.shop-link a{
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

.shop-link i{
    font-size: 10px;
    padding-left: 5px;
}

.shop-link a:hover{
    border-bottom: 2px solid white;
}

@media screen and (max-width: 480px) {
    .left-caption p, .left-caption h2, .social-media{
        display: none;
    }
    .shop-link{
        margin-top: 50%;
    }
}

/* controls */
.prev, .next{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.prev:hover, .next:hover{
    color: #cccccc;
}

.prev{
    left: 0;
    margin-left: 5%;
}

.next{
    right: 0;
    margin-right: 5%;
}

/* circle indicators */
.indicator{
    position: absolute;
    z-index: 2;
    left: 45%;
    bottom: 10%;
}

.indicator div{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    margin: 0 10px;
}

.indicator div.indicator-active{
    background-color: white;
}

@media screen and (max-width: 480px){
    .indicator{
        display: none;
    }
}

/* second slide */
.second-slide{
    width: 100%;
    height: 100vh;
    margin: 50px;
}

.second-slide-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
    margin-top: 20px;
    width: 300px;
    height: 380px;
    box-shadow: 2px 2px 30px #cccccc;
    border-radius: 10px;
}

.box-container img{
    width: 100%;
}

.img-text{
    margin-top: 10px;
    text-align: center;
    height: 100px;
}

.img-text a{
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 0.75em;
}

.img-text a:hover{
    background-color: #333333;
}

@media screen and (max-width: 700px){
    .box-container{
        margin-left: 20%;
    }
}

@media screen and (max-width: 480px){
    .second-slide{
        margin-left: 0;
    }
    .second-slide h2{
        margin-left: 20px;
    }
    .box-container{
        margin-left: 30px;
    }
    .glide__arrows button{
        top: 40%;
    }
    .glide__arrow--left{
        left: 2em;
    }
    .glide__arrow--right{
        right: 2em;
    }
}