*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden !important; /*nav*/
}

.first-slide{
    height: 100vh;
    width: 100%;
    position: relative;
}

.top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    width: 100%;
    position: absolute;
    /* z-index: 1000; */
}

.logo{
    margin-left: 10%;
}

.logo i{
    color: white;
    font-size: 1.5em;
}

.logo i:hover{
    color: #cccccc;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

.nav-links li a:hover{
    color: #cccccc;
}

.nav-icons{
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-right: 5%;
}

.nav-icons i{
    color: white;
    font-size: 0.75em;
}

.nav-icons i:hover{
    color: #cccccc;
}

.lang-menu select{
    background-color: transparent;
    color: white;
    border: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .logo{
        margin-left: 3%;
    }
}

/* hamburger */

.hamburger-icon{
    display: none;
    cursor: pointer;
}

.hamburger-icon div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0;
        height: 80vh;
        top: 15vh;
        background-color: #0A0A0A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%; /*change here */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .hamburger-icon{
        display: block;
    }
    .nav-icons i{
        display: flex;
        align-items: center;
        margin-left: 8px;
    }
    .nav-icons div{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .nav-icons{
        width: 30%;
    }
}

.nav-active{
    transform: translateX(0);
}

/*animation*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle-links .bar1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-links .bar2{
    opacity: 0;
}
.toggle-links .bar3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* top carousel */
.slider{
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

.img-slide{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: none;
    animation: slide 1s ease-in;
}

@keyframes slide{
    0%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

.img-slide.img-active{
    display: flex;
}

.slider-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-caption, .right-caption{
    animation: textSlide 2s ease;
}

@keyframes textSlide{
    0%{
        transform: translateX(30px);
    }
    100%{
        transform: translateX(0);
    }
}

.left-caption{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    text-align: center;
    position: absolute;
    top: 40%;
}

.left-caption p{
    font-size: 0.75em;
}

.left-caption h2{
    font-size: 1.8em;
    letter-spacing: 1px;
}

.social-media{
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 15%;
}

.social-media a{
    color: white;
    cursor: pointer;
    padding-left: 5px;
    font-size: 0.75em;
}

.social-media a:hover{
    color: #cccccc;
}

.right-caption{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 45%;
    right: 10%;
}

.right-caption p{
    margin-bottom: 20px;
    font-size: 0.75em;
}

.shop-link{
    position: absolute;
    z-index: 2;
    bottom: 10%;
    right: 10%;
}

.shop-link a{
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

.shop-link i{
    font-size: 10px;
    padding-left: 5px;
}

.shop-link a:hover{
    border-bottom: 2px solid white;
}

@media screen and (max-width: 480px) {
    .left-caption p, .left-caption h2, .social-media{
        display: none;
    }
    .shop-link{
        margin-top: 50%;
    }
}

/* controls */
.prev, .next{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.prev:hover, .next:hover{
    color: #cccccc;
}

.prev{
    left: 0;
    margin-left: 5%;
}

.next{
    right: 0;
    margin-right: 5%;
}

/* circle indicators */
.indicator{
    position: absolute;
    z-index: 2;
    left: 45%;
    bottom: 10%;
}

.indicator div{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    margin: 0 10px;
}

.indicator div.indicator-active{
    background-color: white;
}

@media screen and (max-width: 480px){
    .indicator{
        display: none;
    }
}

/* second slide */
.second-slide{
    width: 100%;
    height: 90vh;
    margin: 50px;
}

.second-slide-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
    margin-top: 20px;
    width: 300px;
    height: 380px;
    box-shadow: 3px 3px 20px #cccccc;
    border-radius: 10px;
}

.box-container img{
    width: 100%;
}

.img-text{
    margin-top: 10px;
    text-align: center;
    height: 100px;
}

.img-text a{
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 0.75em;
}

.img-text a:hover{
    background-color: #333333;
}

@media screen and (max-width: 700px){
    .box-container{
        margin-left: 20%;
    }
}

@media screen and (max-width: 480px){
    .second-slide{
        margin-left: 0;
    }
    .second-slide h2{
        margin-left: 20px;
    }
    .box-container{
        margin-left: 30px;
    }
    .glide__arrows button{
        top: 40%;
    }
    .glide__arrow--left{
        left: 2em;
    }
    .glide__arrow--right{
        right: 2em;
    }
}

/* third slide */
.third-slide{
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: #0D0D0D;
}

.third-slide-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.third-slide-content h3{
    letter-spacing: 1px;
    font-size: 1.5em;
}

.third-shop-btn{
    color: white;
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
    font-size: 0.75em;
    margin-top: 10px;
}

.third-shop-btn:hover{
    color: #cccccc;
    border: 2px solid #cccccc;
}

.third-slide-img{
    width: 50%;
    height: 100%;
    background-image: url('../images/black-shoe-3-square.png');
    background-size: cover;    
    background-position: center;
}

@media screen and (max-width: 768px){
    .third-slide-img{
        display: none;
    }
    .third-slide-content{
        width: 100%;
    }
}

/* fourth slide */
.fourth-slide{
    height: 50vh;
    width: 100%;
    margin: 50px;
    display: flex;
}

.fourth-slide-title{
    width: 50%;
    margin-top: 20px;
    margin-left: 10%;
}

.fourth-slide-content{
    width: 50%;
    margin-top: 50px;
    margin-right: 20%;
    text-align: justify;
}

@media screen and (max-width: 768px){
    .fourth-slide{
        display: flex;
        flex-direction: column;
    }
    .fourth-slide-title{
        width: 100%;
        margin: 0;
    }
    .fourth-slide-content{
        margin: 0;
        width: 100%;
    }
    .fourth-slide-content p{
        margin-top: 2%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 480px){
    .fourth-slide-title h3{
        margin-bottom: 10%;
    }
    .fourth-slide-content p{

        margin-right: 30%;
    }
}

/* fifth slider */
.fifth-section{
    width: 100%;
    height: 70vh;
    background-color: #f6f6f6;
}

.fifth-section h2{
    margin: 30px 50px;
}

.fifth-carousel{
    width: 400px;
}

.fifth-carousel img{
    width: 100%;
}

.fifth-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth-content a{
    color: black;
}

.fifth-content a:hover{
    color: #333333;
}

/* sixth slider */
.sixth-section{
    width: 100%;
    height: 60vh;
}

.sixth-section h2{
    text-align: center;
    margin: 50px 0 20px 0;
}

.review-logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.review-logo img{
    height: 200px;
}

@media screen and (max-width: 1000px){
    .sixth-section{
        height: 100vh;
    }
}

@media screen and (max-width: 550px){
    .sixth-section{
        height: 180vh;
    }
  

}

/* footer */
footer{
    background-color: black;
    height: 50vh;
    width: 100%;
}

.footer-container{
    display: flex;
    flex-direction: row;
}

.first-col{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 50px;
    margin-left: 50px;
}

.first-col a{
    color: white;
    text-decoration: none;
}

.first-col a:hover{
    color: #cccccc;
}

.footer-social{
    margin-top: 20px;
}

.footer-social a{
    padding-right: 10px;
}

.second-col{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 50px;
    margin-left: 50px;
}

.second-col h3{
    color: white;
    margin-bottom: 10px;
}

.second-col p{
    color: white;
    font-size: 0.75em;
}

.third-col{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 50px;
}

.third-col p{
    color: white;
}

.subscribe{
    margin-top: 10px;
}

.subscribe input{
    color: #cccccc;
}

.copyright{
    color: white;
    font-size: 0.75em;
    margin-left: 50px;
    margin-top: 10px;
}

@media screen and (max-width:480px){
    footer{
        height: 120vh;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
    }
    .first-col, .second-col, .third-col{
        width: 100%;
    }
    .first-col{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second-col{
        margin-top: 10px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .third-col{
        margin-top: 10px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .copyright{
        margin: 10px 0;
        text-align: center;
    }
}

/* shop-page */
.shop-top-slide{
    height: 100vh;
    width: 100%;
    background-image: url('../images/black-shoe-3.png');
    background-size: cover;
    position: relative;
}

.shop-top-title{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    height: 50%;
}

.shop-top-title h3{
    font-size: 2em;
    margin-bottom: 20px;
}

.top-shop-btn{
    color: white;
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
}

.top-shop-btn:hover{
    color: #cccccc;
    border: 2px solid #cccccc;
}

/* second slide */
.shop-slide-two{
    height: 200vh;
    width: 100%;
}

.select-container{
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
}

.product select, .price select, .sort select{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 3px solid black;
    font-weight: bold;
    font-size: 1em;
    margin-left: 30px;
}

@media screen and (max-width:480px){
    .select-container{
        display: none;
    }
}

.product-display{
    display: flex;
    flex-direction: column;
}

#first-display, #second-display, #third-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product-display-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-display-content img{
    height:250px;
    margin-bottom: 10px;
}

.product-display-content button{
    color: white;
    background-color: black;
    text-align: center;
    width: 40%;
    padding: 5px;
}

.product-display-content button:hover{
    background-color: #333333;
    cursor: pointer;
}

@media screen and (max-width:700px){

    #first-display, #second-display{
        margin-top: 0;
    }
    #third-display{
        display: none;
    }
    .product-display-content{
        margin-top: 50px;
    }
}

/* product page */
.product-nav{
    height: 15vh;
    width: 100%;
    background-color: black;
}

.product-page-display{
    height: 70vh;
    width: 100%;
    display: flex;
    margin: 50px 50px 0 50px;
    overflow: hidden;
}

.product-page-img{
    height: 400px;
    width: 400px;
}

.product-page-img img{
    width: 100%;
}

.product-page-content{
    margin-left: 10%;
}

.product-page-content p, .rating-stars{
    margin-top: 10px;
}

.product-input{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.size-input, .colour-input{
    display: flex;
}

.size-input input, .colour-input input{
    border: none;
    border-bottom: 3px solid black;
    width: 30%;
    margin: 10px;
}

.size-input p, .colour-input p{
    font-weight: bold;
}

.add-to-cart{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 0.8em;
}

.add-to-cart:hover{
    background-color: #333333;
}

@media screen and (max-width:1024px){
    .product-page-display{
        margin: 50px 10px;
    }
    .product-page-content{
        margin-left: 2%;
    }
}

@media screen and (max-width:480px){
    .product-page-display{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 0px;
        height: 150vh;
    }
    .product-page-img{
        width: 300px;
        height: 300px;
    }
    .product-page-img img{
        width: 100%;
    }
    .product-page-content{
        margin: 10px 20px;
    }
}

/* fifth slider */
.best-on-sale-section{
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
}

.best-on-sale-section h2{
    margin: 30px 50px;
}

.best-on-sale-carousel{
    width: 400px;
}

.best-on-sale-carousel img{
    width: 100%;
}

.best-on-sale-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-on-sale-content a{
    color: black;
}

.best-on-sale-content a:hover{
    color: #333333;
}