*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden !important; /*nav*/
}

.first-slide{
    height: 100vh;
    width: 100%;
    background-image: url("images/black-shoe.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    width: 100%;
}

.logo{
    margin-left: 10%;
}

.logo i{
    color: white;
    font-size: 1.5em;
}

.logo i:hover{
    color: #cccccc;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    color: white;
    text-decoration: none;
}

.nav-links li a:hover{
    color: #cccccc;
}

.nav-icons{
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-right: 5%;
}

.nav-icons i{
    color: white;
}

.lang-menu select{
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .logo{
        margin-left: 3%;
    }
    .nav-links{
        width: 60%;
    }
    .nav-icons{
        width: 25%;
    }
}

/* hamburger */

.hamburger-icon{
    display: none;
    cursor: pointer;
}

.hamburger-icon div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0;
        height: 80vh;
        top: 15vh;
        background-color: #0A0A0A;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%; /*change here */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .hamburger-icon{
        display: block;
    }
    .nav-icons i{
        display: flex;
        align-items: center;
        margin-left: 8px;
    }
    .nav-icons div{
        display: none;
    }
}

.nav-active{
    transform: translateX(0);
}

/*animation*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle-links .bar1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle-links .bar2{
    opacity: 0;
}
.toggle-links .bar3{
    transform: rotate(45deg) translate(-5px, -6px);
}